{% extends "dashboard/_base.html" %}

{% block content %}

<div class="card w-full md:h-32 lg:h-full p-10 md:p-2 lg:p-10">
    <a href="{% url "sw_interface" %}" class="text-white block text-center md:text-sm">Sistema para monitorizar el funcionamiento de Switch BBVA</a>
</div>
<div class="card w-full md:h-32 lg:h-full p-10 md:p-2 lg:p-10">
    <a href="#" class="text-white block text-center md:text-sm">Sistema para monitorizar el funcionamiento de Switch BBVA</a>
</div>
<div class="card w-full md:h-32 lg:h-full p-10 md:p-2 lg:p-10">
    <a href="#" class="text-white block text-center md:text-sm">Sistema para monitorizar el funcionamiento de Switch BBVA</a>
</div>
<div class="card w-full md:h-32 lg:h-full p-10 md:p-2 lg:p-10">
    <a href="#" class="text-white block text-center md:text-sm">Sistema para monitorizar el funcionamiento de Switch BBVA</a>
</div>
<div class="card w-full md:h-32 lg:h-full p-10 md:p-2 lg:p-10">
    <a href="#" class="text-white block text-center md:text-sm">Sistema para monitorizar el funcionamiento de Switch BBVA</a>
</div>
<div class="card w-full md:h-32 lg:h-full p-10 md:p-2 lg:p-10">
    <a href="#" class="text-white block text-center md:text-sm">Sistema para monitorizar el funcionamiento de Switch BBVA</a>
</div>



    

{% endblock %}