{% extends "login/_base.html" %}

{% block login %}

{% if messages %}
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
        <p class="font-bold">Error de Autenticación</p>
        <p>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </p>
    </div>
{% endif %}


<form method="post" action="{% url 'login_builtin' %}" class="flex flex-col gap-2 p-8">
    {% csrf_token %}
    <p class="text-center text-3xl text-gray-300 mb-4">Login</p>

    <label for="id_username" class="text-white">Usuario:</label>
    <input type="text" name="username" id="id_username" class="bg-white w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 focus:ring-offset-gray-800" placeholder="Ingrese su Usuario" required>

    <label for="id_password" class="text-white mt-3">Contraseña:</label>
    <input type="password" name="password" id="id_password" class="bg-white w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 focus:ring-offset-gray-800" placeholder="Ingrese su Contraseña" required>

    <button type="submit" class="inline-block cursor-pointer rounded-md bg-gray-700 px-4 py-3.5 mt-4 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 focus-visible:ring-offset-2 active:scale-95">Ingresar</button>
</form>


  {% endblock %}